* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.greenbar {
	height: 61px;
	background-color: #02918c;
}
.greenbar img {
	margin: 18px 564px 23px 51px;
	position: relative;
	float: left;
}
.greenlist {
	list-style-type: none;
}
.greenlist li{
	display: inline-block;
	padding: 26px 20px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
}
a:hover {
	text-decoration: underline;
	color: #000;
}
.knowmore {
	background-image: url(images/jacket.png);
	background-position: 0 61;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 728px;
}
.block1 {
	padding: 210px 169px 0 185px;
	text-align: center;
}
.line1 {
	color: #fff;
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
	line-height: 25px;
}
.line2 {
	color: #fff;
	font-size: 68px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	line-height: 75px;
}
.line3 {
	color: #fff;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	line-height: 33px;
}
.block1 img {
	margin: 52px 587px 26px 401px;
}
.yellowbtn {
	width: 196px;
	height: 47px;
	background-color: #cfc91d;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 900;
	margin-top: 26px;
	text-transform: uppercase;
}
.yellowbtn a {
	text-decoration: none;
	color: #000;
} 
.aboutme {
	font-family: 'Open Sans', sans-serif;
	margin: 98px 203px 20px;
}
.header {
	text-align: center;
	text-transform: uppercase;
	font-size: 46px;
	font-weight: 900;
	color: #02918c;
}
.header img {
	margin: 32px 356px 36px;
	display: block;
	position: absolute;
	text-align: center;
}
.text1 {
	line-height: 41px;
	font-size: 16px;
	text-align: center;
	color: #7e8287;
	position: relative;
	margin-top: 78px;
	margin-bottom: 40px;
}
.boldtext {
	display: inline;
	font-weight: 900px;
	font-size: 23px;
}
.titles {
	padding-top: 40px;
	padding-bottom: 90px;
	text-align: center;
}
.titles span{
	display: block;
	font-size: 11px;
}
.title1,
.title2,
.title3,
.title4 {
	text-align: center;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	line-height: 21px;
	font-size: 11px;
	color: #7e8287;
	width: 290px;
	height: 251px;
}
.t1,
.t2,
.t3,
.t4 {
	font-size: 16px;
	/*font-weight: 900px;почему не работает фонтвейт?*/
	line-height: 23px;
	padding-top: 14.5px;
	padding-bottom: 14.5px;
}
.title1,
.title2,
.title3 {
	border-right: 1px solid #5E6767;
}
.title1 img,
.title2 img,
.title3 img,
.title4 img {
	margin-top: 29px; 
	margin-bottom: 14.5px;
}
.title1 span,
.title2 span,
.title3 span,
.title4 span {
	padding: 14.5px 60px;
}


